@media screen and (max-width: 1167px) {
    .order-summary {
        top: 150px;
        right: 50px;
    }
}

@media screen and (max-width: 1094px) {
    .resumoProduto {
        font-size: 1.3rem;
    }

    .buttonPedido {
        height: 40px;
    }
}

@media screen and (max-width: 1004px) {
    .order-summary {
        right: 30px;
    }
}

@media screen and (max-width: 903px) {
    .order-summary {
        width: 390px;
        height: 400px;
        top: 250px;
    }
}

@media screen and (max-width: 845px) {
    .order-summary {
        width: 390px;
        height: 400px;
        top: 250px;
    }
}

@media screen and (max-width: 826px) {
    .order-summary {
        height: 350px;
        position: relative;
        top: -30px;
        margin-left: 250px;
        margin-bottom: 10px;
    }

    .inputName {
        width: 65%;
        height: 100px;
    }
}

@media screen and (max-width: 694px) {
    .order-summary {
        width: 350px;
        height: 350px;
        position: relative;
        top: -30px;
        right: 30px;
        margin-left: 190px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 605px) {
    .order-summary {
        margin-left: 100px;
    }
}

@media screen and (max-width: 500px) {
    .resumoPedido {
        margin-top: -10px;
        font-size: 1rem;
    }
}

@media screen and (max-width: 459px){
    .order-summary {
        margin-left: 90px;
        width: 300px;
    }
}