.background {
    display: flex;
}

.backgroundx {
    display: none;
}

.container {
    display: flex;
    flex-direction: row;
}

.imgLogo {
    width: 700px;
    height: 700px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 380px;
    backdrop-filter: blur(2px);
    box-shadow: 0px 0px 12px 0px rgba(28, 28, 28, 0.15);
    border-radius: 15px;
    background-color: var(--CorTerciaria);
    -moz-box-shadow: 0px 0px 12px 0px rgba(28, 28, 28, 0.15);
    padding: 45px;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(28, 28, 28, 0.15);
    margin-top: 200px;
    margin-left: 20px;
}

.titulo {
    color: var(--CorPrimaria);
    text-align: center;
    font-size: 1.4rem;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 28px;
}

.inputs-acess {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 10px;
}

.inputs {
    background: var(--CorTerciaria);
    border: 0px;
    border-bottom: 1px solid #bababa;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    outline: 0;
    padding: 7px 10px;
}

.buttonLogin {
    margin-top: 30px;
    margin-left: 70px;
    width: 150px;
    height: 40px;
    right: 50px;
    border-radius: 5px;
    background: var(--CorPrimaria);
    border: 0;
    color: var(--CorTerciaria);
    cursor: pointer;
    font-size: 1em;
    font-family: 'Prompt', sans-serif;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.buttonLogin:hover {
    background: var(--CorSecundaria);
    cursor: pointer;
    transition: 0.2s;
}

.error-message {
    align-items: center;
    color: var(--CorPrimaria);
    margin-left: 55px;
    font-size: 0.9rem;
    font-family: 'Prompt', sans-serif;
}

@media screen and (max-width: 1535px) {
    .imgLogo, .form {
        position: relative;
        right: 90px;
    }
}

@media screen and (max-width: 1397px){
    .backgroundy {
        display: none;
    }

    .backgroundx {
        display: flex;
        width: 100%;
    }

    .background {
        position: relative;
        bottom: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: 50px;
    }

    .imgLogo {
        position: relative;
        display: flex;
        width: 510px;
        height: 550px;
    }
    
    .form {
       position: relative;
       justify-content: center;
       bottom: 80px;
    }
}

@media screen and (max-width: 1056px){
    .main {
        height: 100vh;
        overflow-y: scroll;
    }

    .background {
        flex-direction: column;
        align-items: center;
        margin-left: 150px;
    }

    .imgLogo {
        width: 400px;
        height: 400px;
    }

    .form {
        top: 0;
        bottom: 0;
        margin-top:0px;
    }
}

@media screen and (max-width: 570px){
    .background {
        margin-left: 170px;
        top: 0px;
    }

    .imgLogo {
        width: 300px;
        height: 300px;
    }

    .form {
        width: 340px;
        height: 320px;
    }
    
    .titulo {
        margin-top: 10px;
        font-size: 1.1rem;
    }
    
    .inputs-acess {
        width: 250px;
    }
    
    .inputs {
        font-size: 0.7rem;
    }
    
    .buttonLogin {
        margin-left: 55px;
        width: 130px;
        font-size: 0.9em;
    }

    .error-message {
        margin-left: 40px;
    }
}

@media screen and (max-width:375px){
    .imgLogo {
        width: 250px;
        height: 250px;
    }

    .form {
        width: 280px;
    }

    .titulo {
        margin-top: 30px;
        font-size: 0.8rem;
    }
    
    .inputs-acess {
        width: 190px;
    }
      
    .buttonLogin {
        width: 90px;
        height: 30px;
        font-size: 0.7em;
    }

    .error-message {
        margin-left: 30px;
        font-size: 0.7rem;
    }
}