<main class="main">
  <img src="../../../assets/vector-2.svg" alt="Logo" class="backgroundx">
  <section class="background">
    <img src="../../../assets/vector.svg" alt="Logo" class="backgroundy">
    <img src="../../../assets/Logo-burguermv.png" alt="Imagem Logo" class="imgLogo">
    <form class="form" (ngSubmit)="login()">
        <h1 class="titulo">Para acessar o aplicativo preencha os campos com a credencial! </h1>
        <div class="inputs-acess">
          <input class="inputs" type="email" [(ngModel)]="email" name="email" placeholder="Email" required>
          <input class="inputs" type="password" [(ngModel)]="password" name="password" placeholder="Senha" required>
        </div>
        <div *ngIf="errorLogin" class="error-message">{{errorMessage}}</div>
        <button type="submit" class="buttonLogin">Acessar</button>
    </form>
  </section>
</main>