@media screen and (max-width: 1190px) {
    .imgLogo {
        left: 10px;
    }
}

@media screen and (max-width: 1145px) {
    .imgLogo {
        left: -80px;
    }
    .error-message {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 1030px) {
    .backgroundy {
        display: none;
    }

    .backgroundx {
        display: flex;
        position: absolute;
        width: 100vw;
    }

    .container {
        display: flex;
        align-items:flex-end;
        justify-content: flex-end;
    }

    .imgLogo {
        position: relative;
        width: 380px;
        height: 380px;
        margin-right: 220px;
    }
    
    .form {
        height: 250px;
        top: 370px;
        right: 310px;
    }
    
    .titulo {
        font-size: 1rem;
        margin-bottom: 15px;
    }
    
    .inputs-login {
        width: 380px;
        height: 300px;
        bottom: 40px;
    }
    
    .inputs-acess {
        width: 290px;
    }
    
    .inputs {
        font-size: 0.8rem;
    }
    
    .buttonLogin {
        margin-top: 20px;
        width: 130px;
        font-size: 0.9rem;
    }

    .error-message {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 1020px){
    .imgLogo {
        margin-right: 120px;
    }
    
    .form {
        right: 200px;
    }
}

@media screen and (max-width: 675px){
    .imgLogo {
        left: 0px;
    }

    .form {
        right: 250px;
        left: 120px;
    }
}

@media screen and (max-width: 566px){
    .backgroundx {
        width: 550px;
    }

    .imgLogo {
        position: absolute;
        left: 60px;
        margin-left: 0px;
    }

    .form {
        right: 200px;
        left: 60px;
    }
}