@media screen and (max-width: 1462px) {
    .buttonsContainer {
        left: 250px;
    }

    .buttonsContainerTwo {
        left: 1050px;
    }

    .order-list {
        margin-left: 80px;
        gap: 30px;
        grid-template-columns: 330px 330px 330px;
    }
}

@media screen and (max-width: 1291px) {
    .buttonsContainer {
        left: 210px;
        gap: 150px;
    }

    .buttonsContainerTwo {
        left: 900px;
    }

    .order-list {
        margin-left: 5px;
        grid-template-columns: 330px 330px 330px;
    }
}

@media screen and (max-width: 1268px) {
    .logoTables {
        position: relative;
        width: 200px;
        height: 200px;
        top: 0;
        left: 480px;
    }

    .buttonsContainer {
        position: relative;
        flex-direction: column;
        left: 160px;
        gap: 50px;
        top: -100px;
    }

    .buttonsContainerTwo {
        left: 800px;
        top: -200px;
    }

    .order-list {
        position: relative;
        margin-left: -60px;
        top: -170px;
        width: 250px;
        height: 250px;
    }
}

@media screen and (max-width: 1170px) {
    .logoTables {
        left: 350px;
    }

    .buttonsContainer {
        left: 100px;
    }

    .buttonsContainerTwo {
        left: 610px;
        top: -200px;
    }

    .order-list {
        position: relative;
        margin-left: -20px;
        grid-template-columns: 330px 330px;
        gap: 25px;
    }
}

@media screen and (max-width: 878px) {
    .logoTables {
        left: 320px;
    }

    .buttonsContainer {
        left: 80px;
    }

    .buttonsContainerTwo {
        left: 570px;
    }

    .order-list {
        margin-left: -40px;
    }
}

@media screen and (max-width: 830px) {
    .logoTables {
        left: 270px;
    }

    .buttonsContainer {
        display: flex;
        flex-direction: row;
        left: 160px;
        top: 30px;
    }

    .buttonsContainerTwo {
        left: 280px;
        top: 80px;
    }

    .order-list {
        margin-left: -100px;
        top: 20px;
    }
}