@media screen and (max-width: 897px) {  
    .backgroundx {
        position: relative;
        margin-bottom: -100px;
    }

    .imagemLogo {
        position: relative;
        margin-top: 70px;
        left: 300px;
    }

    .icones {
       display: flex;
       flex-direction: row;
       justify-content: center;
       position: relative;
    }

    .select {
        position: relative;
        top: 0px;
        left: 260px;
    }

    .tituloItens {
        position: relative;
        top: 50px;
        left: 370px;
    }

    .productsFilter{
        height: 35vh;
        width: 720px;
        top: 80px;
    }

    .products {
        left: 200px;
    }

    .imgProduto {
        width: 90px;
        height: 70px;
    }

    .tituloProducts {
        font-size: 1rem;
    }
}

@media screen and (max-width: 760px) {
    .imagemLogo {
        position: relative;
        left: 210px;
    }

    .icones {
        margin-top: 30px;
        left: 10px;
     }

    .select {
        left: 180px;
    }

    .tituloItens {
        left: 280px;
    }

    .productsFilter{
        width: 570px;
    }

    .products {
        width: 480px;
        left: 120px;
    }

    .imgProduto {
        width: 50px;
        height: 40px;
    }

    .tituloProducts {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 590px) {
    .imagemLogo {
        left: 130px;
        width: 200px;
        height: 200px;
    }

    .icones {
        margin-top: 40px;
        left: 0px;
     }

     .imgLogout , .imgPedidos {
        width: 25px;
        height: 25px;
    }

    .imgPedidos {
        right: 50px;
    }

    .select {
        width: 250px;
        left: 110px;
    }

    .buttons {
        font-size: 0.7rem;
    }

    .tituloItens {
        left: 170px;
        font-size: 0.7rem;
        height: auto;
        top: 40px;
    }

    .productsFilter{
        width: 450px;
    }

    .products {
        width: 310px;
        left: 80px;
        gap: 0px;
    }

    .imgProduto {
        width: 40px;
        height: 30px;
    }

    .tituloProducts {
        font-size: 0.6rem;
    }

    .quantity-controls {
        margin-top: 40px;
    }
    
    .quantity-button {
        width: 15px;
        height: 20px;
        font-size: 10px;
    }
    
    .quantity-input {
        width: 20px;
        height: 20px;
    }
}

@media screen and (max-width: 465px){
    .imagemLogo {
        left: 50px;
    }

    .icones {
        margin-top: 50px;
     }

    .select {
        left: 30px;
    }

    .tituloItens {
        left: 90px;
    }

    .productsFilter{
        width: 390px;
    }

    .products {
        width: 290px;
        left: 20px;
    }

    .tituloProducts {
        font-size: 0.5rem;
    }

    .quantity-controls {
        margin-top: 40px;
    }
    
    .quantity-button {
        width: 10px;
        height: 15px;
    }
    
    .quantity-input {
        width: 15px;
        height: 15px;
        font-size: 0.5rem;
    }
}