@media screen and (max-width: 1094px) {
    .imagemLogo {
        left: 340px;
    }

    .imgLogout {
        top: 3px;
        right: 15px;
    }

    .select {
        width: 250px;
        gap: 20px;
        top: -230px;
        font-size: 0.8rem;
    }

    .tituloItens {
        font-size: 0.8em;
        width: 100px;
    }

    .resumoPedido {
        width: 350px;
        height: 370px;
    }
}

@media screen and (max-width: 1004px) {
    .imagemLogo {
        left: 260px;
    }

    .imgLogout {
        right: 80px;
        width: 20px;
        height: 20px;
    }

    .imgPedidos {
        top: 2px;
        right: 120px;
    }

    .select {
        left: 20px;
    }

    .tituloItens {
        top: -205px;
    }

    .products {
        left: 30px;
    }

    .elementsProducts {
        gap: 0px;
    }
}

@media screen and (max-width: 903px) {
    .imagemLogo {
        margin-top: 15px;
        right: 450px;
        left: 330px;
        width: 180px;
        height: 180px;
    }

    .select {
        top: -120px;
        left: 290px;
        gap: 25px;
    }

    .tituloItens {
        top: -50px;
    }

    .products {
        top: -30px;
    }

    .elementsProducts {
        position: relative;
        display: flex;
        margin-left: 5px;
        padding-top: 10px;
    }

    .imgProduto {
        width: 40px;
    }

    .tituloProducts {
        font-size: 0.9rem;
        padding: 10px 0px 5px 10px;
    }

    .quantity-controls {
        margin-top: 25px;
        margin-left: 15px;
    }

    .quantity-input {
        width: 30px;
    }
}