@media screen and (max-width: 500px) {
    .backgroundx {
        display: flex;
        position: relative;
        width: 500px;
    }

    .imagemLogo {
        left: 150px;
        margin-top: 30px;
    }

    .imgLogout {
        top: 10px;
        right: 80px;
        width: 20px;
        height: 20px;
    }

    .imgPedidos {
        top: 8px;
        right: 105px;
        width: 30px;
        height: 28px;
    }

    .select {
        left: 120px;
    }

    .tituloItens {
        left: 190px;
    }

    .products {
        left: 80px;
    }
}

@media screen and (max-width: 472px){
    .imagemLogo {
        left: 130px;
    }

    .imgLogout {
        right: 80px;
    }

    .imgLogout {
        right: 60px;
    }

    .imgPedidos {
        right: 105px;
    }

    .select {
        left: 100px;
    }

    .tituloItens {
        left: 170px;
    }
    
    .products {
        left: 40px;
    }
    
    .imgPedidos {
        right: 80px;
    }
}

@media screen and (max-width: 431px) {
    .imagemLogo {
        left: 100px;
    }

    .imgLogout {
        top: 10px;
        right: 30px;
        width: 20px;
        height: 20px;
    }

    .imgPedidos {
        top: 8px;
        right: 50px;
    }

    .select {
        left: 70px;
    }

    .tituloItens {
        left: 150px;
    }

    .products {
        display: flex;
        left: 20px;
    }
}