.principal {
    height: 100vh;
    overflow-x: hidden;
}

.background {
    position: absolute;
    right: 0;
}

.backgroundx {
    display: none;
}

.imagemLogo {
    position: fixed;
    width: 100px;
    height: 100px;
}

.icones {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.imgLogout , .imgPedidos {
    position: absolute;
    top: 15px;
    right: 25px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.imgPedidos {
    top: 80px;
    right: 18px;
    width: 40px;
    height: 40px;
}

.select {
    display: flex;
    position: fixed;
    gap: 200px;
    top: 30px;
    left: 500px;
}

.buttons {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background: var(--CorPrimaria);
    border: 0;
    color: var(--CorTerciaria);
    cursor: pointer;
    font-size: 1em;
    font-family: 'Prompt', sans-serif;
    padding: 8px;
}

.buttons:hover {
    background: var(--CorSecundaria);
    cursor: pointer;
    transition: 0.2s;
}

.tituloItens {
    display: flex;
    justify-content: center;
    position: fixed;
    left: 30px;
    top: 130px;
    background-color: var(--CorPrimaria);
    width: 120px;
    height: 30px;
    color: var(--CorTerciaria);
    padding: 3px;
    border-radius: 5px;
    font-size: 1em;
    font-family: 'Prompt', sans-serif;
}

.productsFilter{
    height: 70vh;
    position: relative;
    width: 590px;
    overflow-y: scroll;
    overflow-x: hidden;
    top: 170px;
}

.products {
    display: flex;
    position: relative;
    left: 30px;
}

.elementsProducts {
    display: flex;
    gap: 10px;
}

.imgProduto {
    width: 100px;
    margin-top: 30px;
}

.tituloProducts {
    color: var(--CorPrimaria);
    padding: 60px 0px 20px 20px;
}

.quantity-controls {
    margin-top: 60px;
}

.quantity-button {
    width: 20px;
    height: 20px;
    padding: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.quantity-input {
    width: 40px;
    height: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 5px;
    padding: auto;
}

@media screen and (max-width: 1304px) {
    .background {
        display: none;
    }

    .backgroundx {
        display: flex;
        position: absolute;
        width: 100%;
    }

    .imagemLogo {
        left: 500px;
        width: 250px;
        height: 250px;
    }

    .imgLogout, .imgPedidos {
        background-color: brown;
        border-radius: 5px;
        top: 50px;
        right: 20px;
        width: 30px;
        height: 28px;
    }

    .imgPedidos {
        right: 70px;
    }

    .imgLogout:hover, .imgPedidos:hover {
        background-color: var(--CorSecundaria);
    }

    .select {
        gap: 50px;
        top: 160px;
        left: 80px;
    }

    .buttons {
        font-size: 0.9em;
    }

    .tituloItens {
        top: 250px;
        font-size: 0.9em;
        padding: 5px;
    }

    .productsFilter{
        height: 50vh;
        width: 570px;
        top: 320px;
    }

    .products {
        left: 40px;
        top: 0px;
    }

    .imgProduto {
        width: 60px;
    }

    .tituloProducts {
        margin-top: 25px;
        font-size: 1.1rem;
        padding: 20px;
    }

    .quantity-controls {
        margin-top: 44px;
    }

    .quantity-button {
        width: 20px;
        height: 20px;
        font-size: 10px;
    }

    .quantity-input {
        width: 45px;
    }
}
@media screen and (max-width: 1019px) {
    .imagemLogo {
        left: 400px;
    }

    .select {
        gap: 30px;
        left: 30px;
    }

    .productsFilter{
        width: 500px;
        top: 320px;
    }
    
    .products {
        left: 30px;
    }
    
    .imgProduto {
        width: 50px;
        height: 40px;
    }
    
    .tituloProducts {
        font-size: 1rem;
    }
}

@media screen and (max-width: 897px) {  
    .backgroundx {
        position: relative;
        margin-bottom: -100px;
    }

    .imagemLogo {
        position: relative;
        margin-top: 70px;
        left: 300px;
    }

    .icones {
       display: flex;
       flex-direction: row;
       justify-content: center;
       position: relative;
    }

    .select {
        position: relative;
        top: 0px;
        left: 260px;
    }

    .tituloItens {
        position: relative;
        top: 50px;
        left: 370px;
    }

    .productsFilter{
        height: 35vh;
        width: 720px;
        top: 80px;
    }

    .products {
        left: 200px;
    }

    .imgProduto {
        width: 90px;
        height: 70px;
    }

    .tituloProducts {
        font-size: 1rem;
    }
}

@media screen and (max-width: 760px) {
    .imagemLogo {
        position: relative;
        left: 210px;
    }

    .icones {
        margin-top: 30px;
        left: 10px;
     }

    .select {
        left: 180px;
    }

    .tituloItens {
        left: 280px;
    }

    .productsFilter{
        width: 570px;
    }

    .products {
        width: 480px;
        left: 120px;
    }

    .imgProduto {
        width: 50px;
        height: 40px;
    }

    .tituloProducts {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 590px) {
    .imagemLogo {
        left: 130px;
        width: 200px;
        height: 200px;
    }

    .icones {
        margin-top: 40px;
        left: 0px;
     }

     .imgLogout , .imgPedidos {
        width: 25px;
        height: 25px;
    }

    .imgPedidos {
        right: 50px;
    }

    .select {
        width: 250px;
        left: 110px;
    }

    .buttons {
        font-size: 0.7rem;
    }

    .tituloItens {
        left: 170px;
        font-size: 0.7rem;
        height: auto;
        top: 40px;
    }

    .productsFilter{
        width: 450px;
    }

    .products {
        width: 310px;
        left: 80px;
        gap: 0px;
    }

    .imgProduto {
        width: 40px;
        height: 30px;
    }

    .tituloProducts {
        font-size: 0.6rem;
    }

    .quantity-controls {
        margin-top: 40px;
    }
    
    .quantity-button {
        width: 15px;
        height: 20px;
        font-size: 10px;
    }
    
    .quantity-input {
        width: 20px;
        height: 20px;
    }
}

@media screen and (max-width: 465px){
    .imagemLogo {
        left: 50px;
    }

    .icones {
        margin-top: 50px;
     }

    .select {
        left: 30px;
    }

    .tituloItens {
        left: 90px;
    }

    .productsFilter{
        width: 390px;
    }

    .products {
        width: 290px;
        left: 20px;
    }

    .tituloProducts {
        font-size: 0.5rem;
    }

    .quantity-controls {
        margin-top: 40px;
    }
    
    .quantity-button {
        width: 10px;
        height: 15px;
    }
    
    .quantity-input {
        width: 15px;
        height: 15px;
        font-size: 0.5rem;
    }
}