@media screen and (max-width: 1274px) {
    .background {
        display: none;
    }

    .backgroundx {
        display: flex;
        position: absolute;
        width: 100%;
    }

    .imagemLogo {
        display: inline;
        justify-content: center;
        align-items: center;
        width: 250px;
        height: 250px;
    }

    .imgLogout {
        top: 5px;
        right: 25px;
        width: 20px;
        height: 20px;
    }

    .imgPedidos {
        top: 2px;
        right: 80px;
        width: 30px;
        height: 28px;
    }

    .select {
        gap: 80px;
        top: -240px;
        left: 80px;
    }

    .buttons {
        font-size: 0.9em;
    }

    .tituloItens {
        top: -205px;
        font-size: 0.9em;
        padding: 5px;
    }

    .products {
        top: -210px;
    }

    .elementsProducts {
        display: flex;
        margin-left: 10px;
    }

    .imgProduto {
        width: 50px;
    }

    .tituloProducts {
        margin-top: 20px;
        font-size: 1rem;
        padding: 20px;
    }

    .quantity-controls {
        margin-top: 35px;
    }

    .quantity-button {
        width: 20px;
        height: 20px;
        font-size: 10px;
    }

    .quantity-input {
        width: 25px;
    }
}

@media screen and (max-width: 1167px) {
    .imagemLogo {
        left: 430px;
        top: -120px;
    }

    .select {
        gap: 50px;
        left: 30px;
    }

    .tituloItens {
        left: 30px;
        top: -210px;
    }

    .products {
        top: -220px;
    }
}